.App {
  padding: 0;
  width: fit-content;
}

:root {
  --board-width: 200px;
}


@media screen and (max-width: 768px) {
  :root {
    --board-width: 300px;
  }

}

@media screen and (min-width: 1024px) {
  :root {
    --board-width: 600px;
  }

  .playGame,
  .loadPosition {
    display: flex;
  }

  .loadPositionInput {
    flex-direction: column;
  } 

  .loadPosition input {
    height: fit-content;
  }

  .playGame button,
  .loadPosition button {
    height: fit-content;
    margin: 1em;
  }

  .whiteBlackButton,
  .newGameButton {
    margin-left: -10em;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.navBar {
  display: flex;
  padding: 0;
  justify-content: flex-start;
}

.navBar button {
  width: fit-content;
  height: fit-content;
  margin-left: 15%;
  margin-top: 1.5%;
}

.gameplayLevels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}