.App {
  padding: 0;
  width: min-content;
}

@media screen and (max-width: 320px) {
  .App {
    margin-top: -15%;
    margin-left: -5%;
  }
}

@media screen and (max-width: 768px) {
  .App {
    margin-top: -15%;
    margin-left: -5%;
  }

}

@media screen and (min-width: 1024px) {
  .App {
    margin-top: -15%;
    margin-left: -5%;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.navBar {
  padding: 0;
}